<div class="admin-panel px-5 py-3">
  <h1 class="mb-4">Metrics Dashboard</h1>
  <%= form_with url: admin_dashboard_path, method: :get do |form| %>
    <div class="admin-panel-grid">
      <%= form.label :challenge_id, "Challenge:", class: "me-3" %>
      <%= form.select :challenge_id, Challenge.order(:name).map { |challenge| [challenge.name, challenge.id] }, { selected: params[:challenge_id] }, { class: "form-select me-3" } %>
      <%= form.label :estate_id, "Estate:", class: "me-3" %>
      <%= form.select :estate_id, Estate.order(:name).map { |estate| [estate.name, estate.id] }, { selected: params[:estate_id] }, { class: "form-select me-3" } %>
      <%= form.label :start_date, "Date Range:", class: "me-3" %>
      <div class="d-flex align-items-center">
        <%= form.date_field :start_date, as: :string, class: "form-control", input_html: { data: { controller: "datetimepicker" } } %>
        <%= form.label :end_date, "to", class: "mx-2" %>
        <%= form.date_field :end_date, as: :string, class: "form-control", input_html: { data: { controller: "datetimepicker" } } %>
      </div>
    </div>
    <%= form.submit "Search", class: "btn-pri-admin-blue" %>
  <% end %>
</div>

<div data-controller="metrics" class="metrics-grid px-5 py-3">

  <div class="mb-4">
    <h2 class="fs-5">Challenge Participants</h2>
    <div class="mb-4">
      <canvas data-charts-target="participants"></canvas>
    </div>
  </div>

  <div class="mb-4">
    <h2 class="fs-5">Recycling Rate (A/B)</h2>
    <div class="mb-4">
      <canvas data-charts-target="recyclingRate"></canvas>
    </div>
  </div>

  <div class="mb-4">
    <h2 class="fs-5">Recycling Volume (A)</h2>
    <div class="mb-4">
      <canvas data-charts-target="volume"></canvas>
    </div>
  </div>

  <div class="mb-4">
    <h2 class="fs-5">Waste Generated (B)</h2>
    <div class="mb-4">
      <canvas data-charts-target="waste"></canvas>
    </div>
  </div>

  <input data-action="click->metrics#awardPoints" class="btn-pri-small-turquoise" type="submit" value="Award Points">
</div>
