<div data-controller="metrics">
  <div class="admin-panel px-5 py-3">
    <h1 class="mb-4">Metrics Dashboard</h1>
    <%= form_with url: admin_dashboard_path, method: :get do |form| %>
      <div class="admin-panel-grid">
        <%= form.label :challenge_id, "Challenge:", class: "me-3" %>
        <%= form.select :challenge_id, Challenge.order(:name).map { |challenge| [challenge.name, challenge.id] }, { selected: params[:challenge_id] }, { class: "form-select me-3" } %>
        <%= form.label :estate_id, "Estate:", class: "me-3" %>
        <%= form.select :estate_id, Estate.order(:name).map { |estate| [estate.name, estate.id] }, { selected: params[:estate_id] }, { class: "form-select me-3" } %>
        <%= form.label :start_date, "Date Range:", class: "me-3" %>
        <div class="d-flex align-items-center">
          <%= form.date_field :start_date, as: :string, class: "form-control", input_html: { data: { controller: "datetimepicker" } } %>
          <%= form.label :end_date, "to", class: "mx-2" %>
          <%= form.date_field :end_date, as: :string, class: "form-control", input_html: { data: { controller: "datetimepicker" } } %>
        </div>
      </div>
      <%= form.submit "Search", class: "btn-pri-admin-blue" %>
    <% end %>
  </div>

  <div class="px-5 pt-3">
    <span>Award points for latest challenge event before reviewing metrics:</span>
    <button data-metrics-target="awardPointsBtn" class="btn-pri-small-turquoise" type="button" data-action="click->metrics#awardPoints">
      <span data-metrics-target="awardPointsSpinner" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
      <span data-metrics-target="awardPointsText" role="status">Award Points</span>
    </button>
    <hr>
  </div>

  <% if params[:challenge_id].present? == false || params[:estate_id].present? == false || params[:start_date].present? == false || params[:end_date].present? == false %>

    <div class="px-5 py-3">
      <p>Fill up the search panel in order to get the metrics. Please note only National Recycling Challenge has metrics for now.</p>
    </div>

  <% else %>
    <div class="metrics-grid px-5 py-3">

      <div class="mb-4">
        <h2 class="fs-5">Challenge Participants</h2>
        <p>No. of people who participated in the weekly challenge event.</p>
        <div class="mb-4">
          <canvas data-metrics-target="participants"></canvas>
        </div>
      </div>

      <div class="mb-4">
        <h2 class="fs-5">Recycling Rate</h2>
        <p>Total recycled weight (from participants) / Total waste generated (by all estate residents).</p>
        <div class="mb-4">
          <canvas data-metrics-target="recyclingRate"></canvas>
        </div>
      </div>

      <div class="mb-4">
        <h2 class="fs-5">Average Recycling Volume</h2>
        <p>Average recycled weight per <strong>participating</strong> resident (weighed during weekly challenge event).</p>
        <div class="mb-4">
          <canvas data-metrics-target="volume"></canvas>
        </div>
      </div>

      <div class="mb-4">
        <h2 class="fs-5">Average Waste Generated</h2>
        <p>Average waste generated per estate resident (weighed from weekly refuse collection).</p>
        <div class="mb-4">
          <canvas data-metrics-target="waste"></canvas>
        </div>
      </div>
    </div>
  <% end %>

</div>
