<div class="admin-card">
  <%= link_to admin_challenge_event_path(event), class: "text-decoration-none" do %>
    <p><strong>Event ID: <%= event.id %></strong></p>
    <p>Start: <%= event.start_datetime.strftime("%e %b %Y %I:%M %p") %></p>
    <p>End: <%= event.end_datetime.strftime("%e %b %Y %I:%M %p") %></p>
  <% end %>
  <%# if Date.today > event.start_datetime %>
    <%# <span class="me-1 text-secondary">Edit</span>
    <span class="text-secondary">Delete</span> %>
  <%# else %>
    <%= link_to "Edit", edit_admin_challenge_event_path(event) %>
    <%= link_to "Delete", admin_challenge_event_path(event),
      data: {turbo_method: :delete,
      turbo_confirm: "Are you sure? All actions by resident participants and the points awarded history associated with this event will be deleted"}
    %>
  <%# end %>
</div>
