<div class="admin-panel px-5 py-3">
  <h1 class="mb-4">Challenge Events</h1>
  <%= form_with url: admin_challenge_events_path, method: :get, class: "d-flex align-items-center" do %>
    <%= label :query, "Challenge:", class: "me-3" %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control me-3",
          placeholder: "Select a challenge"
      %>
    <%= submit_tag "Search", class: "btn-pri-admin-blue" %>
  <% end %>
</div>

<div class="px-5 py-3">
  <div class="mb-3 d-flex flex-row-reverse">
    <%= link_to "+ New Challenge Event", new_admin_challenge_event_path, class: "btn-pri-admin-blue" %>
  </div>

  <div class="challenge-event-grid">
    <% @challenge_events.each do |event| %>
      <%= render "challengeeventcard", event: event %>
    <% end %>
  </div>
</div>
