<h1 class="mb-4">New Challenge Event</h1>
<%= simple_form_for [:admin, @challenge_event] do |f| %>
  <%= f.input :start_datetime, label: 'Start Date Time' %>
  <%= f.input :end_datetime, label: 'End Date Time' %>
  <%= f.association :challenge, label: 'Associated Challenge' %>
  <%= f.submit "Create Challenge Event", class: 'btn-pri-admin-blue' %>
  <%= link_to "Back", :back, class: "btn-sec-admin-blue" %>
<% end %>
