<div class="challenge-event-grid p-3">
  <div class="text-center">
    <h2 class="fs-6">Scan with One Service app to collect points</h2>
    <p>QR code here</p>
    <%= link_to "Mock Scanning QR", new_challenge_event_action_path(@challenge_event), class: "btn-pri-small-turquoise" %>
    <br>
  </div>

  <div>
    <h1 class="fs-2">Points Collection</h1>
    <br>
    <h2 class="fs-4"><%= @challenge_event.challenge.name %></h2>
    <p>Challenge Duration: <%= @challenge_event.challenge.start_date.strftime("%e %b %Y") %> to <%= @challenge_event.challenge.end_date.strftime("%e %b %Y") %></p>
    <br>
    <h2 class="fs-4">Event Details</h2>
    <p class="mb-0">Collection Time: <%= @challenge_event.start_datetime.strftime("%e %b %Y %I:%M %p") %> - <%= @challenge_event.end_datetime.strftime("%I:%M %p") %></p>
    <p>Location: Islandwide</p>
  </div>
</div>
