<%= link_to chatroom_path(chatroom), class: "text-decoration-none" do %>
  <div class="chatroom-card d-flex align-items-start p-3 border-bottom border-secondary">
    <div>
      <% if chatroom.challenge.cover.attached? %>
        <%= cl_image_tag chatroom.challenge.cover.key, class: "avatar", alt: "challenge cover image" %>
      <% else %>
        <%= image_tag "challenge.PNG", class: "avatar", alt: "default challenge cover image" %>
      <% end %>
    </div>

    <div class="ps-2 flex-grow-1">
      <div class="d-flex justify-content-between align-items-start">
        <div class="pe-2">
          <h2 class="mb-0"><%= chatroom.challenge.name %> (<%= chatroom.estate.name %>)</h2>
        </div>
        <div>
        <% if chatroom.messages.last.nil? %>
          <p class="mb-0 text-end">N.A.</p>
        <% else %>
          <p class="mb-0 text-end"><%= chatroom.messages.last.created_at.strftime("%I:%M %p") %></p>
        <% end %>
        </div>
      </div>

      <% if chatroom.messages.last.nil? %>
        <p class="mb-0">No messages</p>
      <% else %>
        <p class="mb-0"><%= chatroom.messages.last.user.first_name %>: <%= chatroom.messages.last.content.truncate(30) %></p>
      <% end %>

    </div>

  </div>
<% end %>
