<div class="footer container-fluid d-flex justify-content-between">
  <div>
    <%= link_to root_path, class: "footer-link" do %>
      <i class="fa-solid fa-house footer-icon"></i>
      <p>Home</p>
    <% end %>
  </div>

  <div>
    <%= link_to "#", class: "footer-link" do %>
      <i class="fa-solid fa-pen-to-square footer-icon"></i>
      <p>Report</p>
    <% end %>
  </div>

  <div>
    <%= link_to "#", class: "footer-link" do %>
      <i class="fa-solid fa-calendar-day footer-icon"></i>
      <p>Happenings</p>
    <% end %>
  </div>

  <div>
    <%= link_to challenges_path, class: "footer-link" do %>
      <i class="fa-solid fa-stairs footer-icon"></i>
      <p>Challenges</p>
    <% end %>
  </div>

  <div>
    <%= link_to edit_user_registration_path, class: "footer-link" do %>
      <i class="fa-solid fa-circle-user footer-icon"></i>
      <p>Account</p>
    <% end %>
  </div>

  </div>
