<div>
  <div class="mb-3 px-3 bg-white">
    <div class="d-flex justify-content-between py-2">
      <div>
        <i class="fa-solid fa-users icon"></i>
        <span class="icon-text">Low</span>
      </div>
      <div>
        <i class="fa-solid fa-cloud-sun-rain icon"></i>
        <span class="icon-text">34</span>
      </div>
      <div>
        <span class="icon">PSI</span>
        <span class="icon-text">21</span>
      </div>
      <div>
        <span class="icon">PM2.5</span>
        <span class="icon-text">7</span>
      </div>
      <div>
        <i class="fa-solid fa-leaf icon"></i>
        <span class="icon-text">Green</span>
      </div>
    </div>
    <div class="d-flex justify-content-between py-2">
      <button class="menu-button">
        <i class="fa-regular fa-paper-plane menu-icon"></i>
        <p class="menu-text">Submit Case</p>
      </button>
      <button class="menu-button">
        <i class="fa-regular fa-handshake menu-icon"></i>
        <p class="menu-text">Help Neighbour</p>
      </button>
      <button class="menu-button">
        <i class="fa-regular fa-calendar-check menu-icon"></i>
        <p class="menu-text">Book Facilities</p>
      </button>
      <button class="menu-button">
        <i class="fa-regular fa-message menu-icon"></i>
        <p class="menu-text">What Say You?</p>
      </button>
      <button class="menu-button">
        <i class="fa-solid fa-square-parking menu-icon"></i>
        <p class="menu-text">Start Parking</p>
      </button>
    </div>
  </div>

  <div class="mb-3 p-3 bg-white">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="fs-2 fw-bold mb-0">Reports</h1>
      <h2 class="fs-6 mb-0">View All &gt;</h2>
    </div>

    <div class="overflow-x-auto">
      <div class="d-flex">
        <%= render "pages/shared/reportcard" %>
        <%= render "pages/shared/reportcard" %>
        <%= render "pages/shared/reportcard" %>
        <%= render "pages/shared/reportcard" %>
      </div>
    </div>
  </div>

  <div class="mb-3 p-3 bg-white">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="fs-2 fw-bold mb-0">Happenings</h1>
      <h2 class="fs-6 mb-0">View All &gt;</h2>
    </div>

    <div class="overflow-x-auto">
      <div class="d-flex">
        <%= render "pages/shared/happeningcard" %>
        <%= render "pages/shared/happeningcard" %>
        <%= render "pages/shared/happeningcard" %>
        <%= render "pages/shared/happeningcard" %>
      </div>
    </div>
  </div>

  <div class="mb-3 p-3 bg-white">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="fs-2 fw-bold mb-0">Challenges</h1>
      <h2 class="fs-6 mb-0">View All &gt;</h2>
    </div>

    <div class="overflow-x-auto">
      <div class="d-flex">
        <%= render "pages/shared/challengecard" %>
        <%= render "pages/shared/challengecard" %>
        <%= render "pages/shared/challengecard" %>
      </div>
    </div>
  </div>

</div>
