<div data-controller="add-reward" class="px-5 py-3">
  <h1 class="mb-4">Edit Challenge ID <%= @challenge.id %></h1>
  <%= simple_form_for [:admin, @challenge] do |f| %>
    <h2>Challenge Information</h2>
    <%= f.input :name, label: 'Name of Challenge' %>
    <%= f.input :description, label: 'Description of Challenge', as: :text %>
    <%= f.input :start_date, label: 'Start Date', as: :string, input_html: { data: { controller: "datetimepicker" } } %>
    <%= f.input :end_date, label: 'End Date', as: :string, input_html: { data: { controller: "datetimepicker" } } %>
    <%= f.input :participant_criteria, label: 'Participation Criteria' %>
    <%= f.input :metric_name, label: 'Metric Name' %>
    <%= f.input :metric_objective, collection: ['maximize', 'minimize'], label: 'Metric Objective' %>
    <%= f.input :metric_unit, label: 'Metric Unit' %>
    <%= f.input :cover, label: 'Cover Image', as: :file %>
    <%= f.submit "Save", class: 'btn-pri-admin-blue' %>
    <%= link_to "Back", :back, class: "btn-sec-admin-blue" %>
  <% end %>
  <br>
  <hr>
  <br>
  <div class="d-flex justify-content-between align-items-start mb-2" >
    <h2>Edit Rewards Programme</h2>
    <button data-action="click->add-reward#displayForm" class="btn-pri-admin-blue">+ New Reward</button>
  </div>

  <div data-add-reward-target="rewardsList">
    <% @rewards_programmes.each do |reward| %>
      <%= form_with model: reward, url: admin_rewards_programme_path(reward), method: :patch do |form| %>
        <%= form.text_field :target, class: "rewards-form-field" %>
        <span class="me-2"><%= @challenge.metric_unit %></span>
        <%= form.number_field :points, class: "rewards-form-field" %>
        <span class="me-3">points</span>
        <%= form.submit "Save", class: "rewards-form-button me-1" %>
        <%= form.button "Delete", formmethod: :delete, data: {turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete?"}, class: "rewards-form-button"  %>
      <% end %>
    <% end %>
  </div>

  <%= render "addreward_form", reward_new: @reward_new, challenge: @challenge %>

</div>
