<h2 class="fs-5"><%= challenge.metric_name %> Performance</h2>
<div class="d-flex justify-content-between align-items-center mb-2">
 <div>
    <p class="mb-0 fw-semibold">Current</p>
    <p class="mb-0"><span class="mb-0 stats-yellow fw-semibold fs-4"><%= latest_estate_metric %></span><%= challenge.metric_unit %></p>
  </div>
  <div>
    <p class="mb-0 fw-semibold">Final Target</p>
    <p class="mb-0"><span class="mb-0 stats-green fw-semibold fs-4"><%= final_target_metric %></span><%= challenge.metric_unit %></p>
  </div>
</div>
<div class="d-flex align-items-center mb-4">
  <p class="mb-0"><span class="fw-semibold fs-4"><%= ((challenge.end_date - Date.today.to_datetime) / 2629746.00).round %></span> months till end of challenge</p>
  <p class="mb-0 ms-3"><span class="fw-semibold fs-4"><%= num_participants %></span> residents participating</p>
</div>

<h2 class="fs-5">Steps Performance Tracking</h2>
<p class="mb-4">The average no. of steps per person in the estate will be computed every week, and results announced on Sunday night 11.59pm</p>

<h2 class="fs-5">Main Contact Person</h2>
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <%= image_tag "avatar.png", class: "avatar", alt: "default avatar" %>
    <span>Organiser name</span>
  </div>
  <%= link_to "Chat", "#", class: "btn-pri-small-turquoise" %>
</div>
