<%= link_to challenge_path(challenge), class: "text-decoration-none" do %>
  <div class="challenge-card p-3 mb-3">
    <div class="d-flex mb-3">
      <% if challenge.cover.attached? %>
        <%= cl_image_tag challenge.cover.key, class: "", alt: "challenge cover image"%>
      <% else %>
        <%= image_tag "challenge.PNG", class: "", alt: "default challenge cover image"%>
      <% end %>

      <div class="ps-3">
        <h1 class="fs-5 fw-bold"><%= challenge.name %></h1>
        <p class="fw-medium">End date: <%= challenge.end_date.strftime("%e %b %Y") %></p>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between align-items-center">
        <p>Target <%= challenge.metric_name %>
          <span class="metric-green fw-semibold fs-4"><%= challenge.metric_objective == "maximize" ? RewardsProgramme.where(challenge: challenge).maximum(:target) : RewardsProgramme.where(challenge: challenge).minimum(:target) %></span><%= challenge.metric_unit %></p>
        <p>Current
          <span class="metric-yellow fw-semibold fs-4"><%= (@latest_estate_metric * 100).round %></span><%= challenge.metric_unit %></p>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <p>Participants <span class="fw-semibold fs-4"><%= num_participants %></span></p>
        <% if @challenges_participated.include?(challenge) %>
          <p>My points <span class="fw-semibold fs-4"><%= challenge.participations.find_by(user: current_user).points %></span></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
