<h1>Challenges Index</h1>

<% @challenges.each do |challenge| %>
  <p><%= challenge.name %></p>
  <p><%= challenge.description %></p>
  <p><%= challenge.participant_criteria %></p>
  <p><%= challenge.start_date %></p>
  <p><%= challenge.end_date %></p>
  <p>Image if any</p>
<% end %>
