<div class="cover-image-container">
  <% if @challenge.cover.attached? %>
    <%= cl_image_tag @challenge.cover.key, class: "", alt: "challenge cover image"%>
  <% else %>
    <%= image_tag "challenge.PNG", class: "", alt: "default challenge cover image"%>
  <% end %>
</div>

<div data-controller="challenges-show">
  <div class="px-3 pt-3">
    <h1 class="fs-2 mb-3"><%= @challenge.name %></h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn-small-turquoise active" data-action="click->challenges-show#selectAbout" data-challenges-show-target="filter">About</button>
      <button class="btn-small-turquoise" data-action="click->challenges-show#selectEstate" data-challenges-show-target="filter">Your Estate</button>
      <button class="btn-small-turquoise" data-action="click->challenges-show#selectHome" data-challenges-show-target="filter">Your Home</button>
    </div>
  </div>

  <div class="p-3" data-challenges-show-target="about">
    <h2 class="fs-5">What</h2>
    <p class="mb-4"><%= @challenge.description %></p>

    <h2 class="fs-5">When</h2>
    <p class="mb-4">From <%= @challenge.start_date.strftime("%e %b %Y") %> to <%= @challenge.end_date.strftime("%e %b %Y") %></p>

    <h2 class="fs-5">Who can participate</h2>
    <p class="mb-4"><%= @challenge.participant_criteria %></p>

    <h2 class="fs-5">Rewards structure</h2>
    <p class="mb-1">Points are given based on the <%= @challenge.metric_name %> attained by the estate:</p>
    <table class="table" >
      <thead class="table-light">
        <tr>
          <th><%= @challenge.metric_name %></th>
          <th>Points Given</th>
        </tr>
      </thead>
      <tbody>
      <% @rewards_programmes.each do |reward| %>
        <tr>
          <td><%= reward.target %><%= reward.unit_of_measurement %></td>
          <td><%= reward.points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p class="mt-4">For Terms & Conditions (T&Cs) and Frequently Asked Questions (FAQs), please click <%= link_to "here", "#", class: "text-decoration-none" %>.</p>
  </div>

  <div class="p-3 d-none" data-challenges-show-target="estate">
    <h2 class="fs-5"><%= @challenge.metric_name %> Performance</h2>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="progress flex-grow-1 me-4" role="progressbar" aria-label="Example with label" aria-valuenow="22.5" aria-valuemin="22" aria-valuemax="23">
        <div class="progress-bar bar-yellow text-dark" style="width: 25%">22.5%</div>
      </div>
      <div>
        <p class="mb-0 metric-green fw-semibold fs-4">XX%</p>
        <p class="mb-0">Next Target</p>
      </div>
    </div>
    <div class="d-flex align-items-center mb-4">
      <p class="mb-0"><span class="fw-semibold fs-4"><%= ((@challenge.end_date - Date.today.to_datetime) / 2629746.00).round %></span> months till end of challenge</p>
      <p class="mb-0"><span class="fw-semibold fs-4"><%= @challenge.users.count %></span> residents participating</p>
    </div>

    <h2 class="fs-5">Recycling Points</h2>
    <div class="mb-4">
      Insert mapbox map
    </div>

    <h2 class="fs-5">Collection Timing</h2>
    <p class="mb-1">Every Saturday, 10am - 12pm islandwide</p>
    <div class="form-check form-switch noti-yellow py-2 mb-4">
      <label class="form-check-label" for="flexSwitchCheckDefault">Notify me 2 days before collection</label>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>

    <h2 class="fs-5">Main Contact Person</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <%= image_tag "avatar.png", class: "avatar", alt: "default avatar" %>
        <span>Organiser name</span>
      </div>
      <%= link_to "Chat", "#", class: "btn-pri-small-turquoise" %>
    </div>

  </div>

  <div class="p-3 d-none" data-challenges-show-target="home">
    <p>No information here. <br><br>Join the challenge to start tracking your home's progress in recycling!</p>
  </div>
</div>
