<div class="cover-image-container">
  <% if @challenge.cover.attached? %>
    <%= cl_image_tag @challenge.cover.key, class: "", alt: "challenge cover image"%>
  <% else %>
    <%= image_tag "challenge.PNG", class: "", alt: "default challenge cover image"%>
  <% end %>
</div>

<div data-controller="challenges-show">
  <div class="px-3 pt-3">
    <h1 class="fs-2 mb-3"><%= @challenge.name %></h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn-small-turquoise active" data-action="click->challenges-show#selectAbout" data-challenges-show-target="filter">About</button>
      <button class="btn-small-turquoise" data-action="click->challenges-show#selectEstate" data-challenges-show-target="filter">Your Estate</button>
      <button class="btn-small-turquoise" data-action="click->challenges-show#selectHome" data-challenges-show-target="filter">Your Home</button>
    </div>
  </div>

  <div class="p-3" data-challenges-show-target="about">
    <h2 class="fs-5">What</h2>
    <p class="mb-4"><%= @challenge.description %></p>

    <h2 class="fs-5">When</h2>
    <p class="mb-4">From <%= @challenge.start_date.strftime("%e %b %Y") %> to <%= @challenge.end_date.strftime("%e %b %Y") %></p>

    <h2 class="fs-5">Who can participate</h2>
    <p class="mb-4"><%= @challenge.participant_criteria %></p>

    <h2 class="fs-5">Rewards structure</h2>
    <p class="mb-1">Points are given based on the <%= @challenge.metric_name %> attained by the estate:</p>
    <table class="table" >
      <thead class="table-light">
        <tr>
          <th><%= @challenge.metric_name %></th>
          <th>Points Given</th>
        </tr>
      </thead>
      <tbody>
      <% @rewards_programmes.each do |reward| %>
        <tr>
          <td><%= reward.target %><%= reward.unit_of_measurement %></td>
          <td><%= reward.points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p class="mt-4">For Terms & Conditions (T&Cs) and Frequently Asked Questions (FAQs), please click <%= link_to "here", "#", class: "text-decoration-none" %>.</p>
  </div>

  <div class="p-3 d-none" data-challenges-show-target="estate">
  <% if @challenge.name == "National Recycling Challenge" %>
    <%= render "challenges/estate/recyclingchallengeestate",
      challenge: @challenge,
      latest_estate_metric: @latest_estate_metric,
      final_target_metric: @final_target_metric,
      rewards_programmes: @rewards_programmes
    %>
  <% elsif @challenge.name == "National Waste Reduction Challenge" %>
    <%= render "challenges/estate/wastechallengeestate" %>
  <% elsif @challenge.name == "National Steps Challenge" %>
    <%= render "challenges/estate/stepschallengeestate" %>
  <% else %>
    <p>No template created for this new challenge. Outside project scope.</p>
  <% end %>
  </div>

  <div class="p-3 d-none" data-challenges-show-target="home">
    <p>No information here. <br><br>Join the challenge to start tracking your own progress!</p>
  </div>
</div>
