<!DOCTYPE html>
<html>
  <head>
    <title>Env App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="layout-container-admin">
      <%= render "shared/adminheader" %>
      <div class="layout-container-admin-content">
        <%= render "shared/adminsidebar" %>
        <div class="flex-grow-1">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
