<!DOCTYPE html>
<html>
  <head>
    <title>Env App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="layout-container"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-user-id-value="<%= current_user.id %>"
    >
      <%= render "chatrooms/chatheader" %>
      <div class="layout-content">
        <%= yield %>
      </div>
      <%= render "chatrooms/chatfooter" %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
