<!DOCTYPE html>
<html>
  <head>
    <title>Env App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="layout-container">
      <%= render "shared/subheader" %>
      <div class="layout-content">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
